/* 내비게이션 창 css style */

/* 내비게이션 창 컨테이너 */
.nav_modal_container {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 19;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: 1px solid #8c96a180;
    padding: 30px 0px;
    opacity: 0;
    transition: all 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* 내비게이션 창 내부 컨테이너 */
.nav_modal_in_container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

/* 내비게이션 버튼 컨테이너 */
.nav_button_wrapper {
    width: 480px;
    min-width: 480px;
    display: flex;
    align-items: start;
}

/* 내비게이션 세로 라인 첫번째 컨테이너 */
.length_lane_wrapper {
    min-width: 210px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 24px;
}

/* 내비게이션 좌측 박스 */
.empty_left_box {
    width: 126px;
    min-width: 126px;
    height: 100%;
}

/* 내비게이션 우측 박스 */
.empty_right_box {
    width: 100px;
    min-width: 100px;
    height: 100%;
}

/* 내비게이션 버튼 박스 */
.nav_modal_button_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: relative;
    gap: 10px;
}

/* 내비게이션 버튼 */
.nav_modal_button {
    font-size: 16px;
    color: #444444;
    cursor: pointer;
    transition: all 0.2s;
}

/* 내비게이션 버튼 HOVER효과 */
.nav_modal_button:hover {
    color: #1D5BA2;
    font-weight: 500;
    transform: translateX(4px);
}

/* 내비게이션 세부 버튼 */
.nav_modal_detail_button {
    font-size: 14px;
    color: #676767;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    padding-left: 8px;
}

/* 내비게이션 세부 버튼 포인트점 */
.nav_modal_detail_button_point {
    min-width: 2px;
    width: 2px;
    min-height: 2px;
    height: 2px;
    border-radius: 100%;
    background-color: #676767;
    transition: all 0.2s;
}

/* 내비게이션 세부 버튼 HOVER효과 */
.nav_modal_detail_button:hover {
    color: #1D5BA2;
    font-weight: 500;
}

/* 내비게이션 세부 버튼 HOVER효과 > 포인트점 */
.nav_modal_detail_button:hover .nav_modal_detail_button_point {
    background-color: #1D5BA2;
    min-width: 3px;
    min-height: 3px;
    width: 3px;
    height: 3px;
}


/* 반응형 style */
@media screen and (max-width: 1170px) {
    .nav_modal_in_container {
        width: 94%;
    }
}