/* 드롭다운 메뉴 css style */

/* 드롭다운 메뉴 버튼 */
.dropdown_button {
    min-width: 170px;
    height: 48px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    font-size: 16px;
    border: 1px solid #E0E0E0;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
}

/* 드롭다운 메뉴 FOCUS효과 */
.dropdown_button:focus {
    outline: 1px solid #1D5BA2;
}

/* 드롭다운 메뉴 HOVER효과 */
.dropdown_button:hover {
    outline: 1px solid #838383;
}

.triangle {
    width: 14px;
    height: 8px;
    background-color: #333333;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* 드롭다운 메뉴 옵션 컨테이너 */
.option_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    background-color: white;
    border: 1px solid #E0E0E0;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 10;
}

/* 드롭다운 메뉴 옵션 버튼 */
.option_button {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 16px 20px;
    color: #333333;
    transition: all 0.3s;
    font-size: 14px;
}

/* 드롭다운 메뉴 옵션 버튼 HOVER효과 */
.option_button:hover {
    background-color: #1D5BA2;
    color: #ffffff;
    font-weight: 500;
}