/* 서비스 페이지 css style */

/* 서비스 페이지 컨테이너 */
.service_page_container {
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
    padding: 60px 0px;
}

/* 서비스 페이지 제목 */
.service_page_title {
    font-size: 32px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 12px;
    animation: opacity_fade_in 1.5s forwards;
}

/* 서비스 페이지 제목 사이드 바 */
.service_page_side_bar {
    width: 8px;
    height: 30px;
    background: linear-gradient(to bottom, #00AEEF, #006489);
}

/* 서비스 페이지 설명글 컨테이너 */
.service_page_info_wrapper {
    width: 100%;
    height: 450px;
    position: relative;
}

/* 서비스 설명글 박스 */
.service_page_info_box {
    width: 680px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: #1D5BA2;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 30px 60px 40px 60px;
}

/* 서비스 설명글 박스 제목 */
.service_page_info_box_title {
    font-size: 32px;
    font-weight: 700;
}

/* 서비스 설명글 박스 내용 */
.service_page_info_box_content {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-align: start;
}

/* 서비스 설명글 이미지 */
.service_info_image {
    width: 680px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}


/*==============================================================*/
/* 반응형 style */
@media screen and (max-width: 1170px) {
    .service_page_container {
        width: 94%;
        padding: 40px 0px;
        gap: 20px;
    }

    .service_page_title {
        font-size: 16px;
        gap: 6px;
    }

    .service_page_side_bar {
        width: 4px;
        height: 18px;
    }

    .service_page_info_wrapper {
        height: fit-content;
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 12px;
    }

    .service_page_info_box {
        width: 100%;
        min-height: 200px;
        padding: 16px 100px 16px 16px;
        gap: 12px;
        position: static;
        align-items: start;
    }

    .service_page_info_box_title {
        font-size: 14px;
    }

    .service_page_info_box_content {
        font-size: 11px;
    }

    .service_info_image {
        width: 120px;
        min-width: 120px;
        height: 120px;
        border-radius: 100%;
        top: -40px;
        right: 0;
        z-index: 4;
    }
}