/* 인증 및 파트너 현황(status) 페이지 css style */

/* status 페이지 컨테이너 */
.status_page_container {
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
    padding: 90px 0px;
}

/* status 페이지 목록 컨테이너 */
.status_page_content_list {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

/* status 페이지 이미지 카드 */
.status_image_wrapper {
    width: 270px;
    height: 354px;
    border: 1px solid #00000020;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

/* status 페이지 이미지 */
.status_image {
    width: 90%;
    height: 90%;
    object-fit: contain;
}


/*=================================================================*/
/* 반응형 style */
@media screen and (max-width: 1170px) {
    .status_page_container {
        width: 94%;
        gap: 20px;
        padding: 40px 0px;
    }

    .status_page_content_list {
        gap: 16px;
    }

    .status_image_wrapper {
        width: 100px;
        height: 140px;
    }
}