/* 관리자 분류 페이지 css style */

/* 게시글 컨테이너 */
.adm_content_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
}

/* 추가하기 버튼 컨테이너 */
.add_button_wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
}

/* 추가하기 버튼 */
.add_button {
    width: 100px;
    height: 38px;
    border-radius: 10px;
    background-color: #36404c;
    color: white;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-bottom: 16px;
    /* position: fixed;
    right: 70px;
    bottom: 10px;
    z-index: 19; */
}


/*=============================================================*/
/* 반응형 style */
@media screen and (max-width: 1170px) {
    .adm_content_container {
        gap: 8px;
    }

    .add_button {
        width: 60px;
        height: 24px;
        margin-bottom: 4px;
        border-radius: 6px;
        font-size: 9px;
    }
}