/* 오픈 이노베이션 페이지 css style */

/* 오픈 이노베이션 페이지 컨테이너 */
.open_Innovation_page_container {
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
    padding: 90px 0px;
}

/* 오픈 이노베이션 페이지 상단 설명글 컨테이너 */
.open_Innovation_page_top_info_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

/* 하단 컨텐츠 컨테이너 */
.bottom_step_content_container {
    width: 100%;
    height: 1100px;
    padding-top: 80px;
    gap: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #F6F6F6;
}

/* 하단 컨텐츠 제목 */
.bottom_step_title {
    font-size: 30px;
    font-weight: 700;
}

/* 하단 컨텐츠 카드 컨테이너 */
.bottom_step_card_wrapper {
    width: 1170px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px 14px;
}

/* 카드 박스 텍스트 박스 글씨 */
.step_card_text_box_lane_font {
    font-size: 14px;
    text-align: center;
}

/* 카드 스텝 박스 */
.card_step_box {
    width: 140px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    background-color: #78B0E5;
    position: absolute;
    top: -25px;
    left: -1px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 4px;
}


/* 반응형 style */
@media screen and (max-width: 1170px) {
    .open_Innovation_page_container {
        width: 94%;
    }
}