/* 오픈 이노베이션 페이지 css style */

/* 오픈 이노베이션 페이지 컨테이너 */
.open_Innovation_page_container {
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
    padding: 90px 0px;
}