/* 관리자 문의한 글 페이지 css style */

/* 공지사항 테이블 바디 컨텐츠 칸 */
.notice_table_body_content_room {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 5px;
    border: 1px solid #E7E7E7;
    font-size: 12px;
    font-weight: 400;
    /* color: #434343; */
}

/* 공지사항 테이블 바디 내용 텍스트 */
.notice_table_body_content_room_span {
    width: 100%;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* 공지사항 테이블 라인 */
.notice_table_body_lane {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: white;
}

/* 공지사항 테이블 이미지 */
.notice_thumbnail_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 답변 완료한 테이블 라인 컨테이너 */
.answer_table_body_lane {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgb(241, 241, 241);
    color: #8c8c8c;
}

/* 문의 답변 여부 처리 컨테이너 */
.requests_answer_wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 4px;
    gap: 16px;
}

/* 문의 갯수 */
.requests_total_count_text {
    font-size: 13px;
    font-weight: 300;
}

/* 문의 갯수 하이라이트 */
.requests_check_button_highlight {
    font-size: 14px;
    font-weight: 500;
}

/* 문의 체크 버튼 */
.requests_check_button {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

/* 문의 체크 박스 */
.requests_check_box {
    min-width: 14px;
    height: 14px;
    font-size: 9px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* 답변 여부 버튼 디폴트 */
.list_answer_button_default {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    color: #7a7a7a;
    background-color: #cdcdcd;
    border-radius: 8px;
    padding: 7px 14px;
    cursor: default;
}

/* 답변 여부 버튼 */
.list_answer_button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    color: white;
    background-color: #64c5b1;
    border-radius: 8px;
    padding: 7px 14px;
    cursor: pointer;
}

/* 답변 여부 버튼 HOVER효과 */
.list_answer_button:hover {
    background-color: #56ab9a;
}

/* 페이지 번호 컨테이너 */
.requests_page_number_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
}

/* 현재 페이지 번호 */
.present_page_number {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    font-weight: 500;
    background-color: #64c5b1;
    border-radius: 4px;
    cursor: default;
}

/* 기본 페이지 번호 */
.default_page_number {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #636363;
    font-weight: 500;
    border-radius: 4px;
}


/*=============================================================*/
/* 반응형 style */
@media screen and (max-width: 1170px) {
    .notice_table_body_content_room {
        padding: 4px 2px;
        font-size: 9px;
    }

    .notice_table_body_lane {
        width: 100%;
        height: 50px;
    }

    .answer_table_body_lane {
        height: 60px;
    }

    .requests_answer_wrapper {
        gap: 8px;
    }

    .requests_total_count_text {
        font-size: 9px;
    }

    .requests_check_button_highlight {
        font-size: 10px;
    }

    .requests_check_button {
        font-size: 9px;
    }

    .requests_check_box {
        min-width: 8px;
        height: 8px;
        font-size: 5px;
        border-radius: 2px;
    }

    .list_answer_button_default,
    .list_answer_button {
        font-size: 9px;
        border-radius: 6px;
        padding: 3px 6px;
    }

    .requests_page_number_wrapper {
        gap: 4px;
        margin-bottom: 20px;
    }

    .present_page_number {
        width: 14px;
        height: 14px;
        font-size: 9px;
    }

    .default_page_number {
        width: 14px;
        height: 14px;
        font-size: 9px;
    }
}