/* 회사 개요 페이지 css style */

/* 회사 개요 페이지 소개글 컨테이너 */
.company_introduce_container {
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
    padding: 90px 0px;
}


/* 회사 개요 페이지 소개글 설명 */
.company_introduce_sub_title {
    font-size: 30px;
    text-align: center;
    white-space: pre-line;
}

/* 회사 개요 페이지 소개글 설명 하이라이트 */
.sub_title_span {
    font-weight: 700;
    color: #1D5BA2;
}

/* 회사 개요 페이지 중간바 */
.company_center_bar {
    width: 2px;
    height: 30px;
    background-color: #1D5BA2;
}

/* 소개글 추가 설명 박스 */
.introduce_additional_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 24px;
}

/* 소개글 추가 설명 */
.introduce_additional {
    font-size: 18px;
    font-weight: 400;
    white-space: pre-line;
    text-align: center;
}

/* 차별화된 개발 설명 컨테이너 */
.different_develop_intro_container {
    width: 100%;
    height: 900px;
    position: relative;
}

/* 차별화된 개발 설명 컨테이너 배경 이미지 */
.different_develop_background_image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-image: url('https://ifvlnreaxggdzpirozcu.supabase.co/storage/v1/object/public/zefit_public/static_img-bg1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.2;
}

/* 차별화된 개발 설명 그라데이션 배경색 */
.different_develop_gradient_back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to bottom, #C9C9C9, #414141);
}

/* 차별화된 개발 설명 컨텐츠 컨테이너 */
.different_develop_content_container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 80px;
}

/* 차별화된 개발 제목 컨테이너 */
.different_develop_title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

/* 차별화된 개발 제목 */
.different_develop_title {
    font-size: 24px;
    font-weight: 700;
    color: #1D5BA2;
}

/* 차별화된 개발 부제목 */
.different_develop_sub_title {
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
    white-space: pre-line;
}

/* 차별화된 개발 부연 설명 */
.different_develop_introduce {
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-align: center;
    white-space: pre-line;
}

/* 차별화된 개발 카드 컨테이너 */
.shape_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

/* 육각형 카드 테두리 박스 */
.hexagon_card_border_box {
    width: 400px;
    height: 400px;
    position: relative;
}

/* 육각형 카드 */
.hexagon_card {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 25px;
    left: 25px;
}

/* 카드 내부 컨텐츠 */
.hexagon_card_content_container {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 40px;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 4;
}

/* 카드 내부 컨텐츠 상단 라인 */
.card_content_top_lane {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

/* 카드 내부 컨텐츠 아이콘 이미지 */
.card_content_icon {
    min-width: 60px;
    height: 60px;
    object-fit: contain;
}

/* 카드 내부 제목 */
.card_content_title {
    width: 100%;
    flex-wrap: wrap;
    text-align: start;
    white-space: pre-line;
    font-size: 18px;
    font-weight: 700;
}

/* 카드 내부 제목(영문) */
.card_content_title_en {
    width: 100%;
    flex-wrap: wrap;
    text-align: start;
    white-space: pre-line;
    font-size: 15px;
    font-weight: 700;
}

/* 카드 내부 내용 */
.card_content_text {
    width: 80%;
    flex-wrap: wrap;
    text-align: start;
    white-space: pre-line;
    font-size: 14px;
    font-weight: 500;
}

/* 카드 내부 내용(영문) */
.card_content_text_en {
    width: 80%;
    flex-wrap: wrap;
    text-align: start;
    white-space: pre-line;
    font-size: 13px;
    font-weight: 500;
}

/* 미션 섹션 컨테이너 */
.mission_container {
    width: 100%;
    height: 840px;
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: #EBEEF9;
    overflow: hidden;
}

/* 미션 섹션 내부 컨테이너 */
.mission_in_wrapper {
    width: 2000px;
    height: 100%;
    position: relative;
}

/* 미션 컨텐츠 컨테이너 */
.mission_content_container {
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: absolute;
    top: 140px;
    left: calc(50% - 585px);
    z-index: 3;
}

/* 미션 컨텐츠 제목 */
.mission_content_title {
    font-size: 16px;
    color: #1D5BA2;
}

/* 미션 컨텐츠 부제목 */
.mission_content_sub_title {
    font-size: 30px;
    font-weight: 700;
    white-space: pre-line;
    text-align: start;
    margin: 20px 0px 40px 0px;
}

/* 미션 컨텐츠 내용 */
.mission_content_text {
    width: 50%;
    font-size: 18px;
    font-weight: 400;
    white-space: pre-line;
    text-align: start;
}

/* 미션 이미지 1 */
.mission_first_image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 4px 4px 16px 0px #0000003f;
    position: absolute;
    bottom: 0;
    left: 600px;
    z-index: 2;
}

/* 미션 이미지 2 */
.mission_second_image {
    width: 700px;
    height: 700px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 4px 4px 16px 0px #0000003f;
    position: absolute;
    bottom: 0;
    left: 940px;
    z-index: 1;
}

/* 모바일 카드 박스 */
.mobile_card_box {
    width: 260px;
    height: 260px;
    border-radius: 100%;
    position: relative;
}


/* 반응형 style */
@media screen and (max-width: 1170px) {
    .company_introduce_container {
        width: 94%;
        padding: 40px 0px;
        gap: 20px;
    }

    .company_introduce_sub_title {
        font-size: 16px;
    }

    .company_center_bar {
        height: 16px;
    }

    .introduce_additional_wrapper {
        gap: 12px;
    }

    .introduce_additional {
        font-size: 12px;
    }

    .different_develop_content_container {
        padding: 40px 3%;
        gap: 30px;
    }

    .different_develop_title_container {
        gap: 10px;
    }

    .different_develop_intro_container {
        height: 1100px;
    } 

    .different_develop_title {
        font-size: 18px;
    }

    .different_develop_sub_title, .different_develop_introduce {
        font-size: 12px;
    }

    .shape_wrapper {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .hexagon_card_content_container {
        width: 100%;
        height: 100%;
        gap: 12px;
        position: static;
    }

    .card_content_top_lane {
        width: 94%;
    }

    .card_content_icon {
        min-width: 50px;
        height: 50px;
    }

    .card_content_title {
        font-size: 14px;
    }

    .card_content_text {
        font-size: 12px;
    }

    .mission_container {
        height: 400px;
    }

    .mission_in_wrapper {
        width: 94%;
    }

    .mission_content_container {
        width: 100%;
        top: 40px;
        left: 3%;
    }

    .mission_content_sub_title {
        font-size: 14px;
        white-space: initial;
        margin: 10px 0px 20px 0px;
    }

    .mission_content_text {
        width: 100%;
        font-size: 10px;
    }

    .mission_first_image {
        width: 160px;
        height: 160px;
        left: 25%;
    }

    .mission_second_image {
        width: 240px;
        height: 240px;
        left: 40%;
    }
}