/* 관리자 페이지 파트너 업데이트 컴포넌트 css style */

/* 이미지 입력 및 미리보기 컨테이너 */
.image_container {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

/* 이미지 입력 input 스타일 */
.image_input {
  width: 160px;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #64c5b1;
  cursor: pointer;
}

/* 업로드 버튼 */
.image_input_button {
  font-size: 16px;
  font-weight: 700;
  padding: 6px 12px;
  color: white;
  background-color: #64c5b1;
  border-radius: 4px;
}

/* 이미지 미리보기 오버레이 */
.image_preview_overlay {
  width: 160px;
  height: 160px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* 이미지 미리보기 스타일 */
.image_preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 지우기 버튼 */
.image_delete_button {
  font-size: 24px;
  color: #64c5b1;
  position: absolute;
  top: 6px;
  right: 6px;
}

/* 선택창 버튼 */
.radio_button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  cursor: pointer;
}

/* 선택창 버튼 (선택) */
.radio_button_select {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 선택창 버튼 포인트 */
.radio_button_point {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #64c5b1;
}

