/* 관리자 페이지 Header css style */

/* 관리자 페이지 헤더 */
.adm_header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
}

/* 헤더 상단 컨테이너 */
.adm_header_top_container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #64c5b1;
}

/* 헤더 하단 컨테이너 */
.adm_header_bottom_container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: white;
}

/* 헤더 로고 컨테이너 */
.adm_header_logo_container { 
    min-width: 240px;
    height: 100%;
    background-color: #313a46;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 헤더 관리자 페이지 이동 링크 */
.adm_header_logo_adm_link {
    cursor: pointer;
}

/* 헤더 로고 */
.adm_header_logo {
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 52px;
    color: #98a6ad !important;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -.05em;
}

/* 헤더 내비게이션 바 */
.adm_header_nav_container {
    width: 100%;
    height: 100%;
}

/* 헤더 내비게이션 리스트 */
.adm_header_nav_list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}

/* 헤더 메뉴 버튼 */
.adm_header_menu_button {
    width: 60px;
    height: 70px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

/* 헤더 우측 버튼 컨테이너 */
.adm_header_right_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* 헤더 홈 버튼 */
.adm_header_home_button {
    width: 50px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

/* 헤더 프로필 버튼 */
.adm_header_profile_button {
    width: 60px;
    height: 70px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* 프로필 이미지 */
.adm_profile_img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 100%;
}

/* 헤더 사이드 탭 제목 텍스트 */
.adm_header_side_title_box {
    min-width: 240px;
    height: 100%;
    background-color: #343c49;
    color: #98a6ad;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    font-weight: 500;
}

/* 관리자 페이지 타이틀 */
.adm_header_page_title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #e9e9e9;
}

/* 관리자 페이지 사이드 탭 컨테이너 */
.adm_side_tap_container {
    width: 240px;
    height: calc(100dvh - 120px);
    position: fixed;
    top: 120px;
    left: 0;
    z-index: 19;
    background-color: #343c49;
    padding-bottom: 16px;
    overflow-y: auto;
}

/* 관리자 페이지 사이드 탭 컨테이너 스크롤 바 */
.adm_side_tap_container::-webkit-scrollbar {
    display: none;
}

/* 사이드 탭 라인 */
.adm_side_tap_lane {
    width: 100%;
    height: 54px;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #ffffff99;
}

/* 사이드 탭 라인 좌측 컨텐트 */
.adm_side_tap_lane_content_wrap {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* 사이트 탭 라인 HOVER효과 */
.adm_side_tap_lane:hover {
    background-color: #2f3642;
    color: #ffffff;
}

/* 사이드 탭 라인 세부 내비게이션 갯수 */
.adm_side_tap_count {
    color: white;
    background-color: #32c861;
    padding: 3px 5px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
}

/* 사이드 탭 라인 세부 내비게이션 */
.adm_side_tap_nav {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s;
}

/* 사이드 탭 라인 세부 내비게이션 버튼 */
.adm_side_tap_nav_button {
    width: 100%;
    height: 38px;
    min-height: 38px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 40px;
}

/* 사이드 탭 라인 세부 내비게이션 버튼 텍스트 */
.adm_side_tap_nav_button_text {
    font-size: 14px;
    color: #ffffff80;
    cursor: pointer;
    transition: all 0.2s;
}

/* 사이드 탭 라인 세부 내비게이션 버튼 텍스트 HOVER효과 */
.adm_side_tap_nav_button_text:hover {
    color: #ffffff;
}


/* keyframes 애니메이션 */

/* 버튼 클릭 애니메이션 */
@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}