/* 보도자료 상세 페이지 css style */

/* 보도자료 상세 페이지 이미지 */
.news_detail_Image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* 링크 버튼 */
.news_detail_link_button {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    margin-top: 100px;
    box-shadow: 1px 1px 5px 0px hsl(232, 36%, 96%);
    padding: 0px 20px;
}

/* 링크 버튼 텍스트 */
.news_detail_link_button_text {
    width: 50%;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 링크 버튼 HOVER효과 */
.news_detail_link_button:hover {
    box-shadow: 1px 1px 8px 0px hsl(232, 36%, 96%);
}


/*==============================================================*/
/* 반응형 style */
@media screen and (max-width: 1170px) {
    .news_detail_link_button {
        height: 34px;
        gap: 16px;
        padding: 0px 12px;
    }

    .news_detail_link_button_text {
        font-size: 12px;
    }
}