/* 공지사항 상세 페이지 css style */

/* 공지사항 상세 페이지 컨테이너 */
.notice_detail_page_container {
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 50px;
    padding: 60px 0px 100px 0px;
}

/* 공지사항 세부 탭 컨테이너 */
.notice_detail_tap_wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* 공지사항 탭 컨텐츠 */
.notice_detail_tap_content {
    font-size: 13px;
    color: #999999;
    display: flex;
    align-items: center;
    gap: 4px;
    font-style: italic;
    line-height: 100%;
    margin-right: 10px;
}

/* 공지사항 탭 버튼 */
.notice_detail_tap_button {
    font-size: 13px;
    font-weight: 500;
    padding: 4px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    gap: 4px;
    line-height: 100%;
    border: 3px solid #ffffff;
    transition: all 0.3s;
}

/* 공지사항 탭 버튼 HOVER효과 */
.notice_detail_tap_button:hover {
    border: 3px solid #00afef79;
}

/* 공지사항 제목 */
.notice_detail_title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.5px;
}

/* 공지사항 내용 */
.notice_detail_content {
    width: 100%;
    text-align: start;
    text-wrap: wrap;
    white-space: pre-line;
    letter-spacing: -0.5px;
    font-size: 20px;
    margin-top: 60px;
}


/*===========================================================*/
/* 반응형 style */
@media screen and (max-width: 1170px) {
    .notice_detail_page_container {
        width: 94%;
        gap: 30px;
        padding: 40px 0px 60px 0px;
    }

    .notice_detail_tap_content {
        font-size: 10px;
    }

    .notice_detail_tap_button {
        font-size: 10px;
    }

    .notice_detail_title {
        font-size: 16px;
    }

    .notice_detail_content {
        font-size: 12px;
        margin-top: 20px;
    }
}