/* 서비스 페이지 현재안 서비스 세부 탭 컨테이너 css style */

/* 서비스 세부 내용 전체 컨테이너 */
.service_page_detail_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 60px;
    margin-top: 90px;
}

/* 서비스 세부 내용 컨테이너 */
.service_page_detail_wrapper {
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 24px;
}

/* 서비스 세부 탭 컨테이너 */
.detail_tap_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

/* 서비스 세부 탭 리스트 */
.detail_tap_button_list {
    min-width: 260px;
    height: 60px;
}

/* 서비스 세부 탭 */
.detail_tap_button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    color: #6B6B6B;
    font-size: 20px;
    background-color: #e9e9e9;
    box-shadow: 4px 4px 4px 0px #0000003f;
    border-radius: 1000px;
    padding: 18px 32px;
}

/* 서비스 세부 이미지 컨테이너 */
.detail_tap_image_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

/* 서비스 세부 이미지 */
.detail_tap_image {
    width: 500px;
    height: 350px;
    object-fit: contain;
}

/* 서비스 세부 텍스트 컨테이너 */
.detail_text_wrapper {
    width: 100%;
    min-height: 454px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 50px 0px 160px 0px;
    background-color: #F6F6F6;
    position: relative;
}

/* 서비스 세부 텍스트 컨테이너 박스 */
.detail_text_wrapper_box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* 서비스 세부 텍스트 박스*/
.detail_text_box {
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 36px 70px;
    background-color: #ffffff;
    gap: 32px;
}

/* 서비스 세부 텍스트 라인 박스 */
.detail_text_lane_box {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

/* 서비스 세부 텍스트 제목 박스*/
.detail_text_title_box {
    gap: 16px;
    display: flex;
    align-items: center;
}

/* 서비스 세부 텍스트 제목 */
.detail_text_title {
    font-size: 26px;
    font-weight: 700;
}

/* 서비스 세부 텍스트 제목 포인트 */
.detail_text_title_point {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #00AEEF;
}

/* 서비스 세부 텍스트 컨텐츠 */
.detail_text_content {
    font-size: 22px;
    font-weight: 400;
    text-align: start;
    white-space: pre-line;
    padding-left: 26px;
}


/*==============================================================*/
/* 반응형 style */
@media screen and (max-width: 1170px) {
    .service_page_detail_container {
        gap: 10px;
        margin-top: 20px;
    }

    .service_page_detail_wrapper {
        width: 94%;
    }

    .detail_tap_wrapper {
        gap: 10px;
    }
    
    .detail_tap_button_list {
        min-width: 140px;
        height: 38px;
    }
    
    .detail_tap_button {
        font-size: 10px;
        padding: 8px 16px;
    }

    .detail_tap_image_wrapper {
        gap: 10px;
    }

    .detail_text_box {
        width: 94%;
        gap: 12px;
        padding: 16px 20px;
    }

    .detail_text_wrapper {
        padding: 30px 0px 60px 0px;
        min-height: 320px;
    }

    .detail_text_lane_box {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }
    
    .detail_text_title_box {
        gap: 4px;
        display: flex;
        align-items: center;
    }
    
    .detail_text_title {
        font-size: 12px;
    }
    
    .detail_text_title_point {
        width: 4px;
        height: 4px;
    }
    
    .detail_text_content {
        font-size: 10px;
        padding-left: 8px;
    }
}