/* 모바일 헤더 css style */

/* 모바일 헤더 컨테이너 */
.mobile_header_container {
    width: 100%;
    height: 60px;
    color: #eeeeee;
    background-color: #2651a5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 모바일 헤더 내부 컨테이너 */
.mobile_header_wrapper {
    width: 94%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 모바일 헤더 아이콘 박스 */
.mobile_header_icon_box {
    height: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 모바일 헤더 로고 박스 */
.mobile_header_logo_box {
    width: 75px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 모바일 헤더 로고 */
.mobile_header_logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 번역 버튼 박스 */
.mobile_button_box {
    width: 19px;
    height: 14px;
    object-fit: contain;
}

/* 메뉴 모달 창 컨테이너 */
.menu_modal_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #2651a5;
    border-top: 1px solid #93a0ba;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 20;
}

/* 메뉴 모달 창 라인 컨테이너 */
.menu_modal_lane_wrapper {
    width: 100%;
    height: 50px;
    padding: 0px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #9a9a9a;
    font-size: 16px;
    color: #eeeeee;
}

/* 메뉴 모달 창 세부 컨테이너 */
.menu_modal_detail_wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

/* 메뉴 모달 창 세부 라인 컨테이너 */
.menu_modal_detail_lane_wrapper {
    width: 100%;
    height: 44px;
    font-size: 13px;
    color: #c0c0c0;
    display: flex;
    justify-content: start;
    align-items: center;
    border-top: 1px solid #94a5c880;
}

/* 번역 모달 창 배경 컨테이너 */
.trans_modal_background_container {
    width: 100%;
    height: 100dvh;
    background-color: #00000080;
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

/* 번역 모달 창 컨테이너 */
.trans_modal_container {
    width: 140px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

/* 번역 모달 창 버튼 */
.trans_modal_button:nth-child(1) {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    padding: 0px 16px;
    font-size: 16px;
    color: #333333;
    border: 1px solid #d8d8d8;
}

.trans_modal_button:nth-child(2) {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    padding: 0px 16px;
    font-size: 16px;
    color: #333333;
}

/* 버튼 국기 아이콘 */
.button_flag_icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
    box-shadow: 0px 0px 4px 0px #00000080;
}