/* 관리자 연혁 페이지 css style */

/* 게시글 컨테이너 */
.adm_content_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
}