/* 페이지 헤더 css style */

/* 페이지 헤더 컨테이너 */
.page_header_container {
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

/* 페이지 헤더 내비게이션 버튼 */
.page_header_nav_button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444444;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s;
    cursor: pointer;
}

/* 페이지 헤더 번역 버튼 컨테이너 중간바 */
.page_header_translate_between_bar {
    width: 2px;
    height: 16px;
    background-color: #dcdcdc;
}

/* 페이지 헤더 번역 버튼 */
.page_header_translate_button {
    background-color: none;
    color: #2e2e2e;
    font-size: 14px;
}