/* 플로팅 버튼 css style */

/* 플로팅 버튼 컨테이너 */
.floating_button_container {
    width: 70px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 2%;
    right: 1%;
    z-index: 19;
    box-shadow: 2px 0px 4px 0px #00000080;
}

/* 플로팅 문의 버튼 */
.contact_floating_button {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: white;
    background-color: #0190D6;
    transition: all 0.2s;
    cursor: pointer;
}

/* 플로팅 스크롤 탑 버튼 */
.scroll_top_floating_button {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: white;
    transition: all 0.2s;
}

/* 플로팅 버튼 아이콘 박스 */
.floating_button_icon_box {
    font-size: 26px;
}


/*=============================================================*/
/* 반응형 style */
@media screen and (max-width: 1170px) {
    .floating_button_container {
        width: 40px;
        gap: 6px;
        box-shadow: none;
    }

    .contact_floating_button {
        height: 40px;
        font-size: 8px;
        border-radius: 100%;
        box-shadow: 2px 0px 4px 0px #00000080;
        gap: 0px;
    }

    .scroll_top_floating_button {
        height: 40px;
        font-size: 8px;
        border-radius: 100%;
        box-shadow: 2px 0px 4px 0px #00000080;
    }
}